[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
aiofiles = "*"
requests = "*"
python-multipart = "*"
mangum = "*"
flake8 = "*"
python-json-logger = "*"
SQLAlchemy = "*"
Jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.7"
